USE [master]
GO
/****** Object:  Database [MOVIE_RESERVATION]    Script Date: 24/01/2022 5:15:40 pm ******/
CREATE DATABASE [MOVIE_RESERVATION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOVIE_RESERVATION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MOVIE_RESERVATION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOVIE_RESERVATION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MOVIE_RESERVATION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOVIE_RESERVATION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOVIE_RESERVATION]
GO
/****** Object:  Table [dbo].[MR_DETAILS]    Script Date: 24/01/2022 5:15:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MR_DETAILS](
	[MRD_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](75) NOT NULL,
	[DESCT] [nvarchar](max) NOT NULL,
	[START_DATE] [date] NULL,
	[SEAT_PRICE] [decimal](18, 2) NOT NULL,
	[USER_FROM] [varchar](20) NULL,
	[MAINTAIN_DATE] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MR_MOVIE_POSTER]    Script Date: 24/01/2022 5:15:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MR_MOVIE_POSTER](
	[MRMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[MRD_ID] [int] NOT NULL,
	[FILE_NAME] [varchar](200) NOT NULL,
	[USER_FROM] [varchar](20) NULL,
	[MAINTAIN_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MR_TIME_SLOTS]    Script Date: 24/01/2022 5:15:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MR_TIME_SLOTS](
	[MRTS_ID] [int] IDENTITY(1,1) NOT NULL,
	[MRD_ID] [int] NOT NULL,
	[NUM_SEATS] [numeric](2, 0) NOT NULL,
	[START_TIME] [time](0) NOT NULL,
	[END_TIME] [time](0) NOT NULL,
	[MAINTAIN_DATE] [datetime] NULL,
	[USER_FROM] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MR_TRANSACTION_HISTORY]    Script Date: 24/01/2022 5:15:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MR_TRANSACTION_HISTORY](
	[MRTH_ID] [int] IDENTITY(1,1) NOT NULL,
	[MRD_ID] [int] NOT NULL,
	[MRTS_ID] [int] NOT NULL,
	[CUSTOMER_NAME] [varchar](100) NULL,
	[SEAT_LIST] [varchar](max) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[USER_FROM] [varchar](20) NULL,
	[MAINTAIN_DATE] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MR_USER_INFO]    Script Date: 24/01/2022 5:15:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MR_USER_INFO](
	[USERNAME] [nvarchar](20) NOT NULL,
	[FIRSTNAME] [nvarchar](75) NOT NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](32) NOT NULL,
	[USER_TYPE] [varchar](1) NOT NULL,
	[MAINTAIN_DATE] [datetime] NULL,
	[MRUI_ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MR_DETAILS] ADD  CONSTRAINT [mrd_MAINTAIN_DATE]  DEFAULT (getdate()) FOR [MAINTAIN_DATE]
GO
ALTER TABLE [dbo].[MR_MOVIE_POSTER] ADD  CONSTRAINT [mrmp_MAINTAIN_DATE]  DEFAULT (getdate()) FOR [MAINTAIN_DATE]
GO
ALTER TABLE [dbo].[MR_TIME_SLOTS] ADD  CONSTRAINT [mrts_MAINTAIN_DATE]  DEFAULT (getdate()) FOR [MAINTAIN_DATE]
GO
ALTER TABLE [dbo].[MR_TRANSACTION_HISTORY] ADD  CONSTRAINT [mrth_MAINTAIN_DATE]  DEFAULT (getdate()) FOR [MAINTAIN_DATE]
GO
ALTER TABLE [dbo].[MR_USER_INFO] ADD  CONSTRAINT [df_MAINTAIN_DATE]  DEFAULT (getdate()) FOR [MAINTAIN_DATE]
GO
USE [master]
GO
